@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

body {
    margin:0; 
    font-family: Arial, sans-serif; 
    background: #ffffff; 
}
#map { 
    width: 100vw;
    height: 400px; 
}

.mapboxgl-popup-content {
    width: 280px;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: center;
    padding: 10px 12px;
}
.popup-logo {
    max-width: 105px;
    max-height: 80px;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
}
.popup-link {
    color: #4b2e83;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 6px;
}
.popup-link:focus {
    outline: none;
}

.country-dropdown {
    margin: 10px 0px;
    padding: 15px 30px 15px 8px;
    max-width: 300px;
    height: 66px;
    font-family: montserrat, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #000;
    color: #888888;
    cursor: pointer;
    outline: none;
}
.country-dropdown:hover {
    border-color: #000;
}
.country-dropdown:focus {
    border-color: #666;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.country-dropdown option {
    color: #000 !important;
}