body {
    margin:0; 
    font-family: Arial, sans-serif; 
    background: #ffffff; 
}
#map { 
    width: 100vw; 
    height: 35vh; 
}
.country-dropdown {
    margin: 10px 0px;
    padding: 8px 4px;
    font-size: 16px;
    max-width: 300px;
}
.mapboxgl-popup-content {
    width: 280px;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: center;
    padding: 10px 12px;
}
.popup-logo {
    max-width: 105px;
    max-height: 80px;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
}
.popup-link {
    color: #4b2e83;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 6px;
}